* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: $color-text;
}

.intro {
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        text-align: center;
    }
    & p {
        font-size: 18px;
        text-align: center;
    }
}

.rest {
    &__new {
        background-color: $color-tertiary;
        color: $color-tertiary-darker;
    }
    &__text {
        & h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
        }
        & p {
            font-size: 18px;
        }
    }
}

body {
    color: $color-text;
    // font-size: 2rem;
    // font-weight: 100;
    line-height: 1.7;
}

.btn {
    font-size: 18px;
    color: $color-light;
    // font-weight: 900;
    // font-style: italic;
    // font-size: 2.75rem;
}

footer {
    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        color: $color-light;
    }
    & a {
        color: $color-light;
        font-size: 15px;
        & .fas {
            color: $color-light;
        }
    }
}
// pages
.favorite h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
}
.choix__titre {
    font-size: 14px;
    font-weight: 400;
}
.description {
    h5, p {
        font-size: 14px;
    }
}
.fa-check-circle {
    color: $color-light;
}