.menu {
    background-color: $color-bg;
    position: relative;
    border-radius: 45px 45px 0px 0px;
    height: auto;
    margin-top: -50px;
    padding: 25px 0px 80px 0px;
    & .favorite {
        display: flex;
        justify-content: space-between;
        margin: 0px 20px 0px 20px;
        & h2 {
            margin-right: 10px;
            @include center-item;
        }
        &__heart {
            height: 78px;
            width: 40px;
            @include center-item;
            @include heart;
        }
    }
    &__command {
        @include center-item;
        .btn {
            padding: 16px 60px 16px 60px;
        }
    }
    & .choix {
        margin: 0px 0px 40px 0px;
        &__titre {
            position: relative;
            margin: 0px 20px 0px 20px;
            &::after {
                content: "";
                width: 40px;
                height: 3px;
                background-color: $color-tertiary;
                position: absolute;
                left: 0px;
                bottom: 0px;
            }
        }
        &__box {
            height: $check-height;
            width: auto;
            margin: 15px 15px 0px 15px;
            border-radius: 15px;
            background-color: $color-light;
            display: flex;
            justify-content: space-between;
            @include box-shad;
            position: relative;
            display: flex;
            overflow: hidden;
            cursor: pointer;
            @include anim-box;
            .description {
                margin: 10px;
                align-items: center;
                width: auto;
                @include wrap-text;
                & h5 {
                    @include wrap-text;
                    margin-top: 0%;
                    margin-bottom: 0%;
                }
                & p {
                    @include wrap-text;
                    margin-top: 0%;
                    margin-bottom: 0%;
                }
            }
            .price {
                margin-bottom: 10px;
                padding-right: 22px;
                padding-left: 10px;
                display: flex;
                align-items: flex-end;
                transform: translateX(0px);
                transition: transform $anim-dur-check;
            }
            .check {
                background-color: $color-tertiary;
                width: $check-width;
                position: absolute;
                right: -$check-width;
                height: $check-height;
                border-radius: 0px 15px 15px 0px;
                @include center-item;
                transform: translateX(0px);
                transition: transform $anim-dur-check;
                .fas {
                    transform: rotate(-270deg);
                    transition: transform $anim-dur-circle $anim-ret-circle;
                }
            }
        }
    }
}

.choix__box {
    &:hover .description {
        margin-right: $check-width;
        transition: $anim-dur-check ease;
    }
    &:hover .price {
        transform: translateX(-$check-width);
    }
    &:hover .check {
        transform: translateX(-$check-width);
        & .fas {
            transform: rotate(0);
        }
    }
}