
@-webkit-keyframes loader1 {
  @include loader-shad;
}
@keyframes loader1 {
  @include loader-shad;
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bg {
  0% {
    background-color: orchid;
    z-index: 5;
  }
  100% {
    background-color: orchid, 0;
    z-index: 5;
  }
}
@keyframes pop-box {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}