@mixin box-shad {
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
}
@mixin center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin li-number {
    position: absolute;
    @include center-item;
    left: 20px;
    height: 22px;
    width: 22px;
    background-color: $color-primary;
    color: $color-light;
    border-radius: 50%;
}

@mixin heart {
    & .far {
        position: absolute;
        @include center-item;
        &:hover {
            opacity: 0;
        }
    }
    & .fas {
        opacity: 0;
        // color: linear-gradient(top, $color-primary 0%, $color-secondary 100%);
        // color: $color-primary;
        background: linear-gradient($color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        @include center-item;
        &:hover {
            opacity: 1;
            transition: opacity 500ms;
        }
    }
}

// @mixin openig {
// }

// @mixin li-number {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //         opacity: 0;
    //     z-index: -1;
    //     transition: opacity 250ms;
    // }
    
    // @mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
        //     text-shadow: $offset $offset $colour;
        // }
        
        // @mixin border($colour:$colour-primary) {
            //     border: .1rem solid $colour;
            // }
            
            // @mixin img-ratio {
                //     width: 100%;
                //         display: block;
                //         overflow: hidden;
                //         padding-top: 56.25%;
                //         position: relative;
                //         & img {
                    //             position: absolute;
                    //             top: 50%;
                    //             left: 50%;
                    //             width: 100%;
                    //             transform: translate(-50%, -50%);
                    //         }
                    // }
                    
                    // @mixin btn {
                        //     padding: $grid-gutter;
                        //     @include border;
                        //     color: $colour-primary;
                        //     background: $colour-secondary;
                        //     cursor: pointer;
                        //     &:hover{
                            //         background: $colour-primary;
                            //         color: $colour-accent;
                            //     }
                            //     &--full-width {
                                //         width: 100%;
                                //         margin: 0 auto;
                                //     }
                                // }