@mixin box-shad {
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
}

@mixin loader-shad {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@mixin center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin li-number {
    position: absolute;
    @include center-item;
    left: 20px;
    height: 22px;
    width: 22px;
    background-color: $color-primary;
    color: $color-light;
    border-radius: 50%;
}

@mixin heart {
    & .far {
        position: absolute;
        @include center-item;
        // z-index: 5;
        // &:hover {
        //     background: transparent;
        //     // display: none;
        //     opacity: 0;
        // }
    }
    & .fas {
        opacity: 0;
        // color: linear-gradient(top, $color-primary 0%, $color-secondary 100%);
        // color: $color-primary;
        background: linear-gradient($color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        @include center-item;
        &:hover {
            opacity: 1;
            transition: opacity 500ms;
            // z-index: 5;
            &--hid {
                color: transparent;
            }
        }
    }
}

@mixin wrap {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

@mixin anim-box {
    animation: pop-box $anim-dur ease-out backwards;
    @for $i from 1 through $num-bars {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
}

@mixin wrap-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}