$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-sec-hover: #f5edff;
$color-tertiary: #99E2D0;
$color-tertiary-darker: #008766;
$color-town: #eaeaea;
$color-bg: #f6f6f6;
$color-bg-footer: #353535;
$color-light: #ffffff;
$color-shadow: #cfcfcf;
$color-inactive: #7e7e7e7e;
$color-text: #000000;

// box
$check-width: 60px;
$check-height: 70px;
$margin-left: 5px;
$check-marg: $check-width + $margin-left;

// pop-box
$anim-dur: 1000ms;
$num-bars: 4;
$anim-delay: $anim-dur / $num-bars;