.menu {
    background-color: $color-bg;
    position: relative;
    border-radius: 45px 45px 0px 0px;
    height: auto;
    margin-top: -50px;
    padding: 25px 0px 80px 0px;
    & .favorite {
        @include wrap;
        margin: 0px 20px 0px 20px;
        & h1 {
            height: auto;
            width: auto;
            @include center-item;
        }
        &__heart {
            height: 78px;
            width: 60px;
            @include center-item;
            @include heart;
        }
    }
    &__command {
        @include center-item;
        .btn {
            padding: 16px 60px 16px 60px;
        }
    }
    & .choix {
        margin: 0px 0px 40px 0px;
        &__titre {
            position: relative;
            margin: 0px 20px 0px 20px;
            &::after {
                content: "";
                width: 40px;
                height: 3px;
                background-color: $color-tertiary;
                position: absolute;
                left: 0px;
                bottom: 0px;
            }
        }
        & > div {
            height: 70px;
            width: auto;
            margin: 15px 15px 0px 15px;
            border-radius: 15px;
            background-color: $color-light;
            @include box-shad;
            @include wrap;
            overflow: hidden;
        }
    }
}

.description {
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
}
.price {
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 22px;
    margin-left: 10px;
    position: absolute;
    right: 0;
    transform: translateX(0px);
    transition: transform 1000ms;
}
.check {
    background-color: $color-tertiary;
    width: $check-width;
    position: absolute;
    right: -$check-width;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    @include center-item;
    transform: translateX(0px);
    transition: transform 1000ms;
    .fas {
        transform: rotate(-270deg);
        transition: transform 1000ms 300ms;
    }
}
.description {
    &:hover + .price {
        transform: translateX(-$check-width);
        & + .check {
            transform: translateX(-$check-width);
        }
        & > .fas {
            transform: rotate(0);
        }
    }
}