footer {
    background-color: $color-bg-footer;
    padding-top: 20px;
    padding-bottom: 30px;
}

footer h1 {
    margin-left: 25px;
}

footer a {
    margin-left: 25px;
}

footer .fas {
    width: 30px;
}