.accueil {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__logo {
        @include center-item;
        height: 30px;
        margin: 20px 0px 10px 0px;
    }
}

// pages
.accueil {
    height: 65px;
    & .home {
        position: absolute;
        top: 22px;
        left: 20px;
    }
}
.restaurant__img {
    width: 100%;
    max-height: 265px;
    object-fit: cover;
}