.intro {
    background: $color-bg;
    padding-bottom: 30px;
    & #location {
        height: 50px;
        margin: auto;
        @include center-item;
        background-color: $color-town;
        box-shadow: inset 0px 8px 5px -5px $color-inactive;
    }
    &__text{
        width: 240px;
        margin: auto;
        padding-top: 40px;
    }
    & p {
        width: 80%;
        margin: auto;
    }
    &__nav {
        height: 100px;
        width: 300px;
        margin: auto;
        margin-top: 10px;
        @include center-item;
    }
}
